@import '../../app/globals.scss';

.reviews {
    height: 60vh;
    background-color: #4F709C;
    padding: 50px 100px;
    @include mobile {
        padding: 30px;
        height: max-content;
    }
    h1 {
        color: white;
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 30px;
        @include mobile {
            font-size: 30px;
            margin-bottom: 0px;
        }
    }

    .reviewsWrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        margin-top: 50px;
        @include mobile {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
        }
        .review {
            width: 220px;
            color: white;
            flex-direction: column;
            gap: 15px;
            display: flex;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
            @include mobile {
                margin: 10px 0px;
            }
            .starDiv{
                display: flex;
                align-items: center;
                justify-content: center;
                .star{
                 color: #E5D283;
                 font-size: 30px;
                }
            }
            p{
                @include mobile {
                    display: none;
                }
            }
        }   
    }
    
}